################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/netstandard1.6
/bin/Debug/netstandard1.6
/.vs/Microsoft.AspNet.Identity.MultiTenancy\v14
Microsoft.AspNet.Identity.MultiTenancy.xproj.user
project.lock.json
